{% extends 'base.html' %}

{% block title %}
Blog Management
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center post">Blog Manager</h2>
    <button type="button" class="btn btn-success float-right add" data-toggle="modal"
        data-target="#tambahModal"><i class="far fa-plus-square ic-add"></i>Tambah</button>

    <!--Modal Tambah-->
    <div class="modal fade" id="tambahModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">Postingan baru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/blog/tambah" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label text-dark">Judul:</label>
                            <input type="text" class="form-control" name="judul_post" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-dark">Isi:</label>
                            <textarea class="form-control" name="isi_post" id="message-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label text-dark">Keyword:</label>
                            <input type="text" class="form-control" name="keyword_post" id="keyword-text">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                            <input type="submit" class="btn btn-primary" value="Posting">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if artikel|length < 1 %}
    <h5 class="text-center post">Belum ada postingan</h5>
    {% else %}

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col" hidden>ID</th>
                <th scope="col">Judul</th>
                <th scope="col">Isi</th>
                <th scope="col">Keyword</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for blog in artikel %}
            <tr>
                <td hidden>{{ blog[0] }}</td>
                <td>{{ blog[1] }}</td>
                <td>{{ blog[2] }}</td>
                <td>{{ blog[3] }}</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal"
                        data-target="#ubahModal-{{ blog[0] }}"><i class="far fa-edit"></i></button>
                    <button class="btn btn-outline btn-danger" data-toggle="modal"
                        data-target="#hapusModal-{{ blog[0] }}"><i class="far fa-trash-alt"></i></button>

                    <!-- Modal Hapus-->
                    <div class="modal fade" id="hapusModal-{{ blog[0] }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Hapus postingan</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-dark">Anda yakin ingin menghapus postingan ini?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    <a href="/blog/hapus/{{ blog[0] }}"><button type="button"
                                            class="btn btn-danger">Yakin</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal Ubah-->
                    <div class="modal fade text-dark" id="ubahModal-{{ blog[0] }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ubah postingan</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="form-group" hidden>
                                            <label for="recipient-name" class="col-form-label">ID:</label>
                                            <input type="text" class="form-control" name="temp_id" id="recipient-name"
                                                value="{{ blog[0] }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Judul:</label>
                                            <input type="text" class="form-control" name="judul" id="recipient-name"
                                                value="{{ blog[1] }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Isi:</label>
                                            <textarea class="form-control" name="isi"
                                                id="message-text">{{ blog[2] }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Keyword:</label>
                                            <input type="text" class="form-control" name="keyword" id="keyword-text"
                                                value="{{ blog[3] }}">
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-success" value="Simpan">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Tutup</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}